<!DOCTYPE html>
<html lang="en">
  <!-- ======== HEAD =================== -->
  <%- include('partials/head.ejs') %>
  <!-- ======== BODY ============= -->
  <body>
    <!-- ===== HEADER  ========= -->
    <%- include('partials/header.ejs') %>
    <!-- ===== MAIN ============ -->
    <main class="home-main">
      <div class="home-slider">
        <div class="home-slider-img" id="slider">
          <div class="home-slider-section">
            <img
              src="images/slider/slider_mobile1.png"
              srcset="
                images/slider/slider_mobile1.png   984w,
                images/slider/slider_desktop1.png 1600w
              "
              sizes="(min-width: 769px) 1600px,
            769px"
              alt=""
              class="home-banner-img"
            />
          </div>
          <div class="home-slider-section">
            <img
              src="images/slider/slider_mobile2.png"
              srcset="
                images/slider/slider_mobile2.png   984w,
                images/slider/slider_desktop2.png 1600w
              "
              sizes="(min-width: 769px) 1600px,
            769px"
              alt=""
              class="home-banner-img"
            />
          </div>
          <div class="home-slider-section">
            <img
              src="images/slider/slider_mobile3.png"
              srcset="
                images/slider/slider_mobile3.png   984w,
                images/slider/slider_desktop3.png 1600w
              "
              sizes="(min-width: 769px) 1600px,
                   769px"
              alt=""
              class="home-banner-img"
            />
          </div>
          <div class="slider-btn slider-btn-right" id="btn-right">&#62;</div>
          <div class="slider-btn slider-btn-left" id="btn-left">&#60;</div>
        </div>

        <!-- <div class="home-flechas-slider home-flechas-slider-derecha">
          <i class="fas fa-chevron-right"></i>
        </div>
        <div class="home-flechas-slider home-flechas-slider-izquierda">
          <i class="fas fa-chevron-left"></i>
        </div>
        <div class="home-bullets">
          <div class="home-bullets-1"><i class="fas fa-circle"></i></div>
          <div class="home-bullets-2"><i class="fas fa-circle"></i></div>
          <div class="home-bullets-3"><i class="fas fa-circle"></i></div>
        </div> -->
      </div>
      <section class="home-destacados">
        <div class="home-titulo">
          <h4>Lo mejor del mundo Gamer</h4>
        </div>
        <div class="home-destacados-img">
          <% for( let i=0; i < gamers.length; i++ ) { %>
          <article class="home-producto-vitrinas lp-card-producto">
            <a href="/product/detalle/<%= gamers[i].id %>">
              <div class="home-descuento-vitrinas">
                <h5><%= gamers[i].discount %> %</h5>
              </div>
              <img
                src="/images/productos/<%= gamers[i].image %>"
                class="home-imagenes-vitrinas lp-imagen-producto"
              />
              <div class="home-textos-vitrinas">
                <h5><%= gamers[i].brand %></h5>
                <p><%= gamers[i].name %></p>
                <h6 style="text-decoration: line-through">
                  S/<%= gamers[i].regularPrice %>
                </h6>
                <h3>S/<%= gamers[i].offerPrice %></h3>
              </div>
            </a>
          </article>
          <% } %>
        </div>
      </section>
      <section class="home-todo-vitrinas">
        <div class="home-titulo">
          <h4>Los mejores descuentos</h4>
        </div>
        <div class="home-vitrinas">
          <% for( let i=0; i < discounts.length; i++ ) { %>
          <article class="home-producto-vitrinas lp-card-producto">
            <a href="/product/detalle/<%= discounts[i].id %>">
              <div class="home-descuento-vitrinas">
                <h5><%= discounts[i].discount %> %</h5>
              </div>
              <img
                src="/images/productos/<%= discounts[i].image %>"
                class="home-imagenes-vitrinas lp-imagen-producto"
              />
              <div class="home-textos-vitrinas">
                <h5><%= discounts[i].brand %></h5>
                <p><%= discounts[i].name %></p>
                <h6 style="text-decoration: line-through">
                  S/<%= discounts[i].regularPrice %>
                </h6>
                <h3>S/<%= discounts[i].offerPrice %></h3>
              </div>
            </a>
          </article>
          <% } %>
        </div>
      </section>
      <section class="home-todo-vitrinas">
        <div class="home-titulo">
          <h4>Los más vendidos</h4>
        </div>
        <div class="home-vitrinas">
          <% for( let i = 0; i < mostSold.length; i++ ) { %>
          <article class="home-producto-vitrinas">
            <a href="/product/detalle/<%= mostSold[i].id %>">
              <div class="home-descuento-vitrinas">
                <h5><%= mostSold[i].discount %> %</h5>
              </div>
              <img
                src="/images/productos/<%= mostSold[i].image %>"
                class="home-imagenes-vitrinas"
              />
              <div class="home-textos-vitrinas">
                <h5><%= mostSold[i].brand %></h5>
                <p><%= mostSold[i].name %></p>
                <h6 style="text-decoration: line-through">
                  S/<%= mostSold[i].regularPrice %>
                </h6>
                <h3>S/<%= mostSold[i].offerPrice %></h3>
              </div>
            </a>
          </article>
          <% } %>
        </div>
      </section>
    </main>
    <!-- ==== FOOTER  ========== -->
    <%- include('partials/footer.ejs') %>

    <script src="/javascript/slider.js"></script>
  </body>
</html>
