<!DOCTYPE html>
<html lang="en">
  <!-- ======== HEAD =================== -->
  <%- include('../partials/head.ejs') %>

  <body>
    <!-- ===== HEADER  ====== -->
    <%- include('../partials/header.ejs') %>

    <!-- ===== REGISTER FORM ====== -->
    <div class="rg-rg-register-form-container">
      <h3 class="rg-register-label">Registro</h3>
      <form
        action="/user/register"
        method="POST"
        class="rg-register-form"
        enctype="multipart/form-data"
        id="register-form-validation"
      >

        <!-- ================ CATEGORIA ========================== -->

        <label class="label-input-date">Tipo de Usuario</label>
        <select name="tipoUsuario" class="rg-form-input-text" id="user-type">
          <option value="">Seleccionar tipo de usuario</option>
          <% for( let i = 0; i < categoriaUsuario.length; i++ ) { %>
          <option value="<%= categoriaUsuario[i].id %>">
            <%= categoriaUsuario[i].nombre %>
          </option>
          <% } %>
        </select>
        <div class="div-errors">
          <p class="div-user-type-errors"></p>
          <p class="div-user-type-characteres-errors"></p>
        </div>
        <% if (locals.errors && errors.tipoUsuario) { %>
        <div class="register-errors"><%= errors.tipoUsuario.msg %></div>
        <% } %>

        <!-- ================ NOMBRES ========================== -->

        <label class="label-input-date">Nombres</label>
        <input
          type="text"
          class="rg-form-input-text"
          name="name"
          value="<%= locals.oldData ? oldData.name : null %>"
          id="name-register-validation"
        />

        <div class="div-errors">
          <p class="div-name-errors"></p>
          <p class="div-name-characteres-errors"></p>
        </div>

        <% if (locals.errors && errors.name) { %>
        <div class="register-errors"><%= errors.name.msg %></div>
        <% } %>

        <!-- ================= APELLIDOS ========================= -->

        <label class="label-input-date">Apellidos</label>
        <input
          type="text"
          name="lastName"
          class="rg-form-input-text"
          value="<%= locals.oldData ? oldData.lastName : null %>"
          id="lastname-register-validation"
        />

        <div class="div-errors">
          <p class="div-lastName-errors"></p>
          <p class="div-lastName-characteres-errors"></p>
        </div>

        <% if (locals.errors && errors.lastName) { %>
        <div class="register-errors"><%= errors.lastName.msg %></div>
        <% } %>

        <!-- =================== EMAIL ======================= -->

        <label class="label-input-date">Correo Electronico</label>
        <input
          name="email"
          class="rg-form-input-text"
          id="email-register-validation"
          value="<%= locals.oldData ? oldData.email : null %>"
        />

        <div class="div-errors">
          <p class="div-email-errors"></p>
          <p class="div-email-character-errors"></p>
        </div>

        <% if (locals.errors && errors.email) { %>
        <div class="register-errors"><%= errors.email.msg %></div>
        <% } %>

        <!-- ==================== CONTRASEÑA ====================== -->

        <label class="label-input-date">Contraseña</label>
        <div class="container-eye-register">
          <input
            type="password"
            name="password"
            class="rg-form-input-text"
            id="password-register-validation"
          />
          <span class="eye-icon" id="register-eye"
            ><i class="fa-solid fa-eye-slash" id="close-eye-register"></i
          ></span>
        </div>

        <div class="div-errors">
          <p class="div-password-errors"></p>
          <p class="div-password-character-errors"></p>
        </div>

        <% if (locals.errors && errors.password) { %>
        <div class="register-errors"><%= errors.password.msg %></div>
        <% } %>

        <!-- ==================== CONFIRMAR CONTRASEÑA ====================== -->

        <label class="label-input-date">Confirmar Contraseña</label>
        <div class="container-eye-register">
          <input
            type="password"
            name="confirm_password"
            class="rg-form-input-text"
            id="confirm-password-register-validation"
          />
          <span class="eye-icon-confirm" id="register-eye"
            ><i class="fa-solid fa-eye-slash" id="close-eye-register"></i
          ></span>
        </div>

        <div class="div-errors">
          <p class="div-confirm-password-errors"></p>
          <p class="div-confirm-password-character-errors"></p>
        </div>

        <% if (locals.errors && errors.confirm_password) { %>
        <div class="register-errors"><%= errors.confirm_password.msg %></div>
        <% } %>

        <!-- ================== DIRECCION ======================== -->

        <label class="label-input-date">Dirección</label>
        <input
          type="text"
          name="direction"
          class="rg-form-input-text"
          value="<%= locals.oldData ? oldData.direction : null %>"
        />

        <!-- ================== FECHA DE NACIMIENTO ======================== -->

        <label class="label-input-date"
          >Fecha de Nacimiento
          <input
            type="date"
            name="dateBirth"
            class="rg-form-input-text"
            value="<%= locals.oldData ? oldData.dateBirth : null %>"
            id="dateBirth"
          />
        </label>

        <% if (locals.errors && errors.dateBirth) { %>
        <div class="register-errors"><%= errors.dateBirth.msg %></div>
        <% } %>

        <div class="div-errors">
          <p class="div-date-errors"></p>
        </div>

        <!-- =================== IMAGEN ======================= -->

        <label class="label-input-date">Imagen</label>
        <input
          type="file"
          name="userImage"
          class="rg-form-input-text"
          id="image-register-validation"
          accept="jpg, png, jpe,gif"
        />

        <div class="div-errors">
          <p class="div-image-errors"></p>
        </div>

        <% if (locals.errors && errors.userImage) { %>
        <div class="register-errors"><%= errors.userImage.msg %></div>
        <% } %>

        <!-- ================ BOUNDARIES ========================== -->

        <label for="terminos" class="rg-boundaries-label">
          <input type="checkbox" id="terminos" class="rg-boundaries"
          name="boundariesCheck" <%= locals.errors && errors.boundariesCheck ?
          null : "checked" %> />

          <div class="rg-boundaries-txt boton-modal">
            *He leido y acepto los terminos y condiciones del
            <label for="btn-modal" style="text-decoration: underline">
              tratamientos de mis datos personales
            </label>
          </div>
        </label>

        <!-- ==================Ventana Modal====================== -->
        <input type="checkbox" id="btn-modal" />
        <div class="container-modal">
          <div class="content-modal">
            <h2>Términos y Condiciones de Uso</h2>
            <h3>INFORMACIÓN RELEVANTE</h3>
            <p>
              Es requisito necesario para la adquisición de los productos que se
              ofrecen en este sitio, que lea y acepte los siguientes Términos y
              Condiciones que a continuación se redactan. El uso de nuestros
              servicios así como la compra de nuestros productos implicará que
              usted ha leído y aceptado los Términos y Condiciones de Uso en el
              presente documento. Todas los productos que son ofrecidos por
              nuestro sitio web pudieran ser creadas, cobradas, enviadas o
              presentadas por una página web tercera y en tal caso estarían
              sujetas a sus propios Términos y Condiciones. En algunos casos,
              para adquirir un producto, será necesario el registro por parte
              del usuario, con ingreso de datos personales fidedignos y
              definición de una contraseña. El usuario puede elegir y cambiar la
              clave para su acceso de administración de la cuenta en cualquier
              momento, en caso de que se haya registrado y que sea necesario
              para la compra de alguno de nuestros productos.
              www.electrodoggy.com no asume la responsabilidad en caso de que
              entregue dicha clave a terceros. Todas las compras y transacciones
              que se lleven a cabo por medio de este sitio web, están sujetas a
              un proceso de confirmación y verificación, el cual podría incluir
              la verificación del stock y disponibilidad de producto, validación
              de la forma de pago, validación de la factura (en caso de existir)
              y el cumplimiento de las condiciones requeridas por el medio de
              pago seleccionado. En algunos casos puede que se requiera una
              verificación por medio de correo electrónico. Los precios de los
              productos ofrecidos en esta Tienda Online es válido solamente en
              las compras realizadas en este sitio web.
            </p>
            <h3>LICENCIA</h3>
            <p>
              ElectroDoggy a través de su sitio web concede una licencia para
              que los usuarios utilicen los productos que son vendidos en este
              sitio web de acuerdo a los Términos y Condiciones que se describen
              en este documento.
            </p>
            <h3>USO NO AUTORIZADO</h3>
            <p>
              En caso de que aplique (para venta de software, templetes, u otro
              producto de diseño y programación) usted no puede colocar uno de
              nuestros productos, modificado o sin modificar, en un CD, sitio
              web o ningún otro medio y ofrecerlos para la redistribución o la
              reventa de ningún tipo.
            </p>
            <h3>PROPIEDAD</h3>
            <p>
              Usted no puede declarar propiedad intelectual o exclusiva a
              ninguno de nuestros productos, modificado o sin modificar. Todos
              los productos son propiedad de los proveedores del contenido. En
              caso de que no se especifique lo contrario, nuestros productos se
              proporcionan sin ningún tipo de garantía, expresa o implícita. En
              ningún esta compañía será responsables de ningún daño incluyendo,
              pero no limitado a, daños directos, indirectos, especiales,
              fortuitos o consecuentes u otras pérdidas resultantes del uso o de
              la imposibilidad de utilizar nuestros productos.
            </p>
            <h3>POLÍTICA DE REEMBOLSO Y GARANTÍA</h3>
            <p>
              En el caso de productos que sean mercancías irrevocables
              no-tangibles, no realizamos reembolsos después de que se envíe el
              producto, usted tiene la responsabilidad de entender antes de
              comprarlo. Le pedimos que lea cuidadosamente antes de comprarlo.
              Hacemos solamente excepciones con esta regla cuando la descripción
              no se ajusta al producto. Hay algunos productos que pudieran tener
              garantía y posibilidad de reembolso pero este será especificado al
              comprar el producto. En tales casos la garantía solo cubrirá
              fallas de fábrica y sólo se hará efectiva cuando el producto se
              haya usado correctamente. La garantía no cubre averías o daños
              ocasionados por uso indebido. Los términos de la garantía están
              asociados a fallas de fabricación y funcionamiento en condiciones
              normales de los productos y sólo se harán efectivos estos términos
              si el equipo ha sido usado correctamente. Esto incluye: – De
              acuerdo a las especificaciones técnicas indicadas para cada
              producto. – En condiciones ambientales acorde con las
              especificaciones indicadas por el fabricante. – En uso específico
              para la función con que fue diseñado de fábrica. – En condiciones
              de operación eléctricas acorde con las especificaciones y
              tolerancias indicadas.
            </p>
            <h3>COMPROBACIÓN ANTIFRAUDE</h3>
            <p>
              La compra del cliente puede ser aplazada para la comprobación
              antifraude. También puede ser suspendida por más tiempo para una
              investigación más rigurosa, para evitar transacciones
              fraudulentas.
            </p>
            <h3>PRIVACIDAD</h3>
            <p>
              Este www.electrodoggy.com garantiza que la información personal
              que usted envía cuenta con la seguridad necesaria. Los datos
              ingresados por usuario o en el caso de requerir una validación de
              los pedidos no serán entregados a terceros, salvo que deba ser
              revelada en cumplimiento a una orden judicial o requerimientos
              legales. La suscripción a boletines de correos electrónicos
              publicitarios es voluntaria y podría ser seleccionada al momento
              de crear su cuenta. ElectroDoggy reserva los derechos de cambiar o
              de modificar estos términos sin previo aviso. Estas terminos y
              condiciones se han generado en
              terminosycondicionesdeusoejemplo.com.
            </p>
            <div class="btn-cerrar">
              <label for="btn-modal">Cerrar</label>
            </div>
          </div>
          <label for="btn-modal" class="cerrar-modal"></label>
        </div>
        <!-- ==================Fin Ventana Modal====================== -->

        <div class="div-errors">
          <p class="div-boundaries-errors"></p>
        </div>

        <% if (locals.errors && errors.boundariesCheck) { %>
        <div class="register-errors"><%= errors.boundariesCheck.msg %></div>
        <% } %>

        <!-- ========================================== -->

        <button type="submit" class="rg-register-form-button">Registro</button>
      </form>
    </div>

    <div class="rg-already-registered">
      <p>¿Ya estas registrado?</p>
      <a href="./login"> Inicia sesión aquí</a>
    </div>

    <!-- ======= FOOTER  ====== -->
    <%- include('../partials/footer.ejs') %>
    <script src="/javascript/eye.js"></script>
  </body>
</html>
